In [26]:
import mysql.connector as connector

In [38]:
connection = connector.connect(host = "localhost", port = "3306", user = "root", password = "root", database = "mysql", auth_plugin = "mysql_native_password")
connection

In [39]:
cursor = connection.cursor()

In [10]:
# create a table

In [11]:
cursor.execute("CREATE TABLE bhuppi(id integer(10) primary key,name varchar(20), age integer(3))")

In [12]:
cursor.execute("desc bhuppi")
cursor.fetchall()

[('id', b'int', 'NO', 'PRI', None, ''),
 ('name', b'varchar(20)', 'YES', '', None, ''),
 ('age', b'int', 'YES', '', None, '')]

In [13]:
# insert into table

cursor.execute("INSERT INTO bhuppi VALUES(1, 'bhupender', 22)")
cursor.execute("INSERT INTO bhuppi VALUES(2, 'ghi', 20)")
cursor.execute("INSERT INTO bhuppi VALUES(3, 'jkl', 21)")
cursor.execute("INSERT INTO bhuppi VALUES(4, 'def', 23)")
cursor.execute("INSERT INTO bhuppi VALUES(5, 'abc', 24)")

In [19]:
# look into the table
cursor.execute("select * from bhuppi")
cursor.fetchall()

[(1, 'bhupender', 22),
 (2, 'nisha', 20),
 (3, 'jkl', 21),
 (4, 'def', 23),
 (5, 'abc', 24)]

In [20]:
# update command
cursor.execute("UPDATE bhuppi SET name = '{}' WHERE name = 'ghi'".format("nisha"))

In [29]:
# delete command
cursor.execute("DELETE from bhuppi WHERE name = 'abc'")
cursor.execute("SELECT * FROM bhuppi")
cursor.fetchall()

[(1, 'bhupender', 22), (2, 'nisha', 20), (3, 'jkl', 21), (4, 'def', 23)]

In [40]:
# connectionc commited changes and closed
connection.commit()
connection.close()

In [ ]:
### drop table command

# cursor.execute("DROP table bhuppi")